* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug * {
    border: 1px solid black;
}

body {
    width: 100%;
    height: 100vh;
}

.slider {
    width: 70%;
    height: 70%;
    margin: 0 auto;
}

.main_wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.arrow_left,
.arrow_right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    font-size: 40px;
}

.images {
    display: flex;
    flex: 1 1 auto;
}

.images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
}